<!DOCTYPE html>
<html lang="fr">
    <head>

        {% stylesheets
        '@NicoBScrumBundle/Resources/public/bootstrap/css/bootstrap.css'
        '@NicoBScrumBundle/Resources/public/css/helpers.css'
        '@NicoBScrumBundle/Resources/public/css/scrum.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    <body>
        

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{ path('scrum_dashboard',{'id_project':id_project}) }}">Scrum Dashboard</a>
                    <div class="nav-collapse collapse">

                        <ul class="nav">
                            
                            <li class="{% if app.request.attributes.get('_route') == 'scrum_backlog' %}active{% endif %}">
                                <a href="{{ path('scrum_backlog',{'id_project':id_project}) }}">Backlog</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'scrum_story' %}active{% endif %}">
                                <a href="{{ path('scrum_story',{'id_project':id_project}) }}">Story</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'fos_user_profile_edit' %}active{% endif %}">
                                <a href="{{ path('fos_user_profile_edit') }}">User</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'fos_user_security_logout' %}active{% endif %}">
                                <a href="{{ path('fos_user_security_logout') }}">LogOut</a>
                            </li>
                            
                        </ul>
                        {# render 'NicoBScrumBundle:Project:Switcher' #}
                    </div>
                    
                </div>
            </div>
        </div>

        
        <div class="paddingXXL" style="margin-top: 50px">
            <div class="content">
            

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </body>
</html>
