{% extends 'NicoBScrumBundle::layout.html.twig' %}


{% block content %}

<h1>Story list</h1>

<table class="table records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Createdat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr>
                <td><a href="{{ path('scrum_story_show', { 'id': entity.id,'id_project': id_project }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="" href="{{ path('scrum_story_show', { 'id': entity.id,'id_project': id_project }) }}">show</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('scrum_story_edit', { 'id': entity.id,'id_project': id_project }) }}">edit</a>
                        </li>
                        <li>
                            <a class="" href="{{ path('scrum_story_delete',{'id':entity.id,'id_project': id_project}) }}">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('scrum_story_new',{'id_project': id_project }) }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}